---
Checks:          '*, 
                    -android-cloexec-fopen,
                    -cppcoreguidelines-pro-bounds-array-to-pointer-decay, 
                    -cppcoreguidelines-pro-bounds-pointer-arithmetic, 
                    -fuchsia*,
                    -readability-else-after-return,
                    -readability-avoid-const-params-in-decls,
                    -cppcoreguidelines-pro-bounds-constant-array-index,
                    -cppcoreguidelines-pro-type-reinterpret-cast,
                    -llvm-header-guard,
                    -readability-static-accessed-through-instance,
                    -readability-braces-around-statements,
                    -hicpp-signed-bitwise,
                    -hicpp-no-array-decay, 
                    -hicpp-braces-around-statements,
                    -google-runtime-references, 
                    -google-readability-todo, 
                    -google-readability-braces-around-statements'

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle:     none
...
