.cproject
.project
bin/
calibrationWizards/
slsDetectorGui/
slsDetectorSoftware/
slsReceiverSoftware/
slsDetectorCalibration/
slsImageReconstruction/
.settings
JCTBGui/
*.aux
*.log
*.out
*.toc
build
tests
manual/slsDetectorClientDocs/latex/doxygen.sty
manual/slsDetectorClientDocs/latex/refman.tex
