# detetctor geometry, long side of the module first
detsize 1024 512 

# detector hostname for controls
hostname beb059+beb058+ 

# increasing receiver tcp port (multi detector command)
rx_tcpport 1991

# 1Gb receiver pc hostname to configure receiver
rx_hostname x12sa-vcons

# or 1Gb receiver pc hostname with tcp port to configure receiver
#rx_hostname x12sa-vcons:1991+x12sa-vcons:1992

# increasing udp destination ports for all half modules
udp_dstport 50011

# udp port first quadrant, first halfmodule         
#0:udp_dstport 50011 
# udp port second quadrant, first halfmodule       
#0:udp_dstport2 50012 
# udp port first quadrant, second halfmodule       
#1:udp_dstport 50013 
# udp port second quadrant, second halfmodule  
#1:udp_dstport2 50014 
    
# udp IP of the receiver over 10Gb              
0:udp_dstip 10.0.30.210 

# first half module 10 Gb IP (same subnet as 0:udp_dstip)
0:udp_srcip 10.0.30.100 

# udp IP of the receiver over 10Gb, 
1:udp_dstip 10.0.40.210  

# second half module 10 Gb IP 
# can be the same or different from 0:rx_udpip 
# butsame subnet as 1:udp_dstip                              
1:udp_srcip 10.0.40.101 

# output directory
fpath /sls/X12SA/data/x12saop/Data10/Eiger0.5M
