detsizechan 1024 512 
#detetctor geometry, long side of the module first
hostname beb059+beb058+ 
#1Gb detector hostname for controls

0:rx_tcpport 1991 
#tcpport for the first halfmodule                 
0:rx_udpport 50011 
#udp port first quadrant, first halfmodule         
0:rx_udpport2 50012 
#udp port second quadrant, first halfmodule       

1:rx_tcpport 1992 
#tcpport for the second halfmodule               
1:rx_udpport 50013 
#udp port first quadrant, second halfmodule       
1:rx_udpport2 50014 
#udp port second quadrant, second halfmodule  
    
rx_hostname x12sa-vcons 
#1Gb receiver pc hostname

outdir /sls/X12SA/data/x12saop/Data10/Eiger0.5M
threaded 1
