detsizechan 1024 512 
#detetctor geometry, long side of the module first
hostname beb059+beb058+ 
#1Gb detector hostname for controls

0:rx_tcpport 1991 
#tcpport for the first halfmodule                 
0:rx_udpport 50011 
#udp port first quadrant, first halfmodule       
0:rx_udpport2 50012 
#udp port second quadrant, first halfmodule       
0:rx_udpip 10.0.30.210 
#udp IP of the receiver over 10Gb              
0:detectorip 10.0.30.100 
#first half module 10 Gb IP 

1:rx_tcpport 1992 
#tcpport for the second halfmodule                  
1:rx_udpport 50013 
#udp port first quadrant, second halfmodule     
1:rx_udpport2 50014 
#udp port second quadrant, second halfmodule  
1:rx_udpip 10.0.40.210  
#udp IP of the receiver over 10Gb, 
#can be the same or different from 0:rx_udpip                                   
1:detectorip 10.0.40.101 
#second half module 10 Gb IP 

rx_hostname x12sa-vcons 
#1Gb receiver pc hostname

outdir /sls/X12SA/data/x12saop/Data10/Eiger0.5M
threaded 1
