detsizechan 2560 1

hostname bchip074+bchip075+


0:extsig:0 trigger_in_rising_edge
0:rx_tcpport 1954
0:rx_udpport 50001
0:vhighvoltage 0

1:extsig:0 trigger_in_rising_edge
1:rx_tcpport 1955
1:rx_udpport 50002
1:vhighvoltage 0

##############################################################################
#########
######### Uncomment this part to use the gotthard25umZmq process
#########
##############################################################################

# #replace my_receiver_hostname with the hostname of IP of the machine where the receiver runs
#0:rx_zmqip my_receiver_hostname 
#0:rx_zmqport 30003
# #replace my_client_hostname with the hostname of IP of the machine where the client/GUI or softIOC runs
#0:zmqip my_client_hostname 
#0:zmqport  40003

# #replace my_receiver_hostname with the hostname of IP of the machine where the receiver runs
#1:rx_zmqip my_receiver_hostname 
#1:rx_zmqport 30004
# #replace my_client_hostname with the hostname of IP of the machine where the client/GUI or softIOC runs
#1:zmqip  my_client_hostname 
#1:zmqport  40004

##############################################################################
#########
######### until here
#########
##############################################################################


r_readfreq 1
rx_datastream 1

#replace my_receiver_hostname with the hostname of 1Gb IP of the machine where the receiver runs
rx_hostname my_receiver_hostname
rx_datastream 1
outdir /tmp/


settings veryhighgain
exptime 0.000005
period 0.0001

vhighvoltage 90

