# detector hostname
hostname bchip074+bchip075+

# receiver pc hostname of 1Gb IP of the machine (with tcpport)
rx_hostname my_receiver_hostname+my_receiver_hostname:1955

# default udp destination port 50001
1:udp_dstport 50002

# output directory
fpath  /tmp

extsig 0 trigger_in_rising_edge
highvoltage 0

##############################################################################
#########
######### Uncomment this part to use the gotthard25umZmq process
#########
##############################################################################

## receiver pc hostname of 1Gb IP of the machine
#rx_zmqip my_receiver_hostname 
## client/gui or softIOc pc hostname
#zmqip my_client_hostname 

## rxr zmq streaming out port
#0:rx_zmqport 30003
## client zmq listening port
#0:zmqport  40003
## rxr zmq streaming out port
#1:rx_zmqport 30004
## client zmq listening port
#1:zmqport  40004

## stream out every frame via zmq
#rx_zmqfreq 1
## enable zmq streaming
#rx_zmqstream 1

##############################################################################
#########
######### until here
#########
##############################################################################
