# detector hostname
hostname strip3

# receiver pc hostname with tcp port
rx_hostname pc12365:1982

# udp source ip
udp_srcip 10.1.1.184

# udp destination ip (receiver interface ip)
udp_dstip 10.1.1.107

# only needed for debugging veto signals
# udp destination port must be different from udp_dstport (default of 50001)
udp_dstport2 50084
udp_srcip2 10.1.1.185
udp_dstip2 10.1.1.107

# output directory
fpath  /tmp

# disable file writing
fwrite 0

# to enable 2nd interface for veto debugging
numinterfaces 2

# enable veto data streaming
veto 1

# Sampling pipeline 1 clk
reg 0x120 0x00000010
clkphase 1 135 deg

