# detector hostname
hostname bchip052

# 1Gb receiver pc hostname (default tcpport: 1954)
rx_hostname pcmoench01

# udp destination port (receiver)
udp_dstport 50004

# udp destination ip (receiver)
udp_dstip 10.0.1.100

# udp source ip (same subnet as udp_dstip)
udp_srcip 10.0.1.184

# PCBv2.0 (using 2 interfaces, top)
udp_dstport2 50005
udp_dstip2 10.0.2.100 
udp_srcip2 10.0.2.184
# enable two interfaces
numinterfaces 2
# select inner interface(effective only when numinterfaces is 1)
#selinterface 1

# power on chip
powerchip 1

# high voltage
highvoltage 200

# timing to trigger
timing trigger

# output file directory
fpath /external_pool/jungfrau_data/softwaretest

# disable file writing
fwrite 0
