detsizechan 1024 1024
hostname bchip048+bchip052+

0:rx_udpport 50004
0:rx_udpip 10.1.1.100
0:rx_udpmac F4:52:14:2F:32:00
0:detectorip 10.1.1.10
0:detectormac 00:aa:bb:cc:dd:33

1:rx_tcpport 1955
1:rx_udpport 50005
1:rx_udpip 10.1.1.100
1:rx_udpmac F4:52:14:2F:32:00
1:detectorip 10.1.1.11
1:detectormac 00:aa:bb:cc:dd:33

rx_hostname pcmoench01

powerchip 1
#extsig:0 trigger_in_rising_edge
#timing trigger

outdir /external_pool/jungfrau_data/softwaretest


