# detector geometry x, y
detsize 1024 1024

# detector hostname
hostname bchip048+bchip052+

# increasing receiver ports 1954 and 1955 (multi detector command)
rx_tcpport 1954

# 1Gb receiver pc hostname
rx_hostname pcmoench01


# increasing udp ports 50004 and 50005 (multi detector command)
udp_dstport 50004
# or custom udp destination port (receiver) for 1st module
#0:udp_dstport 50014


# udp destination ip (receiver)
0:udp_dstip 10.1.1.100

# udp source ip (same subnet as 0:udp_dstip)
0:udp_srcip 10.1.1.10

# udp destination ip (receiver)
1:udp_dstip 10.1.2.100

# udp source ip (same subnet as 1:udp_dstip)
1:udp_srcip 10.1.2.11



# power on chip
powerchip 1

# high voltage
highvoltage 200

# timing to trigger
timing trigger

# output file directory
fpath /external_pool/jungfrau_data/softwaretest

# disable file writing (default)
fwrite 0