# detector hostname
hostname bchip052

# do not use any rx_ or "file" (eg. fwrite, fpath) commands, which go to slsReceiver/slsMultiReceiver

# udp destination port (receiver)
udp_dstport 50004

# udp destination ip (receiver)
udp_dstip 10.0.1.100

# udp source ip (same subnet as udp_dstip)
udp_srcip 10.0.1.184

# udp destination mac
udp_dstmac 22:47:d5:48:ad:ef


# PCBv2.0 (using 2 interfaces, top)
udp_dstport2 50005
udp_dstip2 10.0.2.100 
udp_srcip2 10.0.2.184
udp_dstmac2 22:47:d5:48:ad:ff


# enable two interfaces
numinterfaces 2
# select inner interface(effective only when numinterfaces is 1)
#selinterface 1

# power on chip
powerchip 1

# high voltage
highvoltage 200

# timing to trigger
timing trigger

