#initialchecks 0
#############################################
### edit with hostname or IP address of your detector 
############################################
#hostname bchip181+
hostname bchip135 

#############################################
### edit with hostname or 1Gbs IP address of your server
############################################
rx_hostname mpc2011

#############################################
### edit with 10 Gbs IP of your server
############################################
udp_dstip 10.1.1.102
#############################################
### edit with any number in the subnet of your server (first 3 numbers as above)
############################################
udp_srcip 10.1.1.19
udp_dstport 32411

#############################################
### edit with 10 Gbs IP of your server
############################################
rx_zmqip 10.1.1.102
rx_zmqport 50003
#############################################
### edit with 1 Gbs IP of PC where you will run the GUI
############################################
zmqip 129.129.202.57
zmqport 50001



tengiga 1
rx_zmqstream 1



frames 100000
period 0.0006
exptime 0.00035

#############################################
### edit with directory you want to write to
############################################
fpath /mnt/moench_data/scratch1/

fwrite 0

rx_jsonpara frameMode frame
rx_jsonpara detectorMode counting
rx_discardpolicy discardpartial


adcpipeline 15

powerchip 1
highvoltage 90

#adcreg 0x14 0x40


