#initialchecks 0
#############################################
### edit with hostname or IP address of your detector 
############################################
hostname bchip181+



#############################################
### edit with 10 Gbs IP of your server
############################################
udp_dstip 10.1.1.102
#############################################
### edit with any number in the subnet of your server (first 3 numbers as above)
############################################
udp_srcip 10.1.1.19
udp_dstport 33410

#############################################
### edit with 10 Gbs IP of your server
############################################
#rx_zmqip 10.1.1.102
#rx_zmqport 30001
#############################################
### edit with 1 Gbs IP of PC where you will run the GUI
############################################
#zmqip 129.129.202.136
#zmqport 40001


#############################################
### edit with hostname or 1Gbs IP address of your server
############################################
rx_hostname mpc2011


tengiga 1
rx_datastream 1



frames 1
period 0.001
#############################################
### edit with directory you want to write to
############################################
fpath /mnt/moench_data/scratch/
fwrite 0
rx_datastream 1

rx_jsonpara frameMode newpedestal
rx_jsonpara detectorMode analog
rx_discardpolicy discardpartial


adcpipeline 15

powerchip 1
vhighvoltage 90

adcreg 14 40
