# detector hostname
hostname localhost:1908

# udp destination ports
udp_dstport 50008

# udp source ip (same subnet as udp_dstip)
udp_srcip 192.168.1.100

# receiver hostname
rx_hostname mpc1922:2008

# udp destination ip from rx_hostname
udp_dstip auto

# output file directory
fpath /tmp

# disable file writing
fwrite 0

