# detector hostname
hostname localhost:1912

# udp destination ports
udp_dstport 50012

# udp source ip (same subnet as udp_dstip)
udp_srcip 192.168.1.100

# receiver hostname
rx_hostname mpc1922:2012

# udp destination ip from rx_hostname
udp_dstip auto

# output file directory
fpath /tmp

# disable file writing
fwrite 0

# load ascii pattern file
#pattern ../pat.txt

