# detector geometry
detsize 2048 1024

# detector hostname
virtual 4 1952

# udp destination ports
udp_dstport 50001
#0:udp_dstport2 50001
#0:udp_dstport2 50002
#1:udp_dstport 50003
#1:udp_dstport2 50004
#2:udp_dstport 50005
#2:udp_dstport2 50006
#3:udp_dstport 50007
#3:udp_dstport2 50008

# udp source ip (same subnet as udp_dstip)
udp_srcip 192.168.1.100
udp_srcip2 192.168.1.100

# receiver hostname and tcpports
rx_tcpport 1970
#0:rx_tcpport 1970
#1:rx_tcpport 1971
#2:rx_tcpport 1972
#3:rx_tcpport 1973
rx_hostname mpc1922

# udp destination ip from rx_hostname
udp_dstip auto
udp_dstip2 auto

# transmission delay frame
0:txndelay_frame 0
1:txndelay_frame 1
2:txndelay_frame 2
3:txndelay_frame 3

# output file directory
fpath /tmp

# disable file writing
fwrite 0

#imagetest 1
#frames 1


