# detector hostname
hostname localhost:1904

# udp destination ports
udp_dstport 50004

# udp source ip (same subnet as udp_dstip)
udp_srcip 192.168.1.100

# receiver hostname
rx_hostname mpc1922:2004

# udp destination ip from rx_hostname
udp_dstip auto

# output file directory
fpath /tmp

# disable file writing
fwrite 0



