# detector hostname
hostname localhost:1914

# udp destination ports
udp_dstport 50014

# udp source ip (same subnet as udp_dstip)
udp_srcip 192.168.1.100

# enable 2nd interface for veto debugging
# udp destination port for veto
udp_dstport2 50015
# udp destination ip (from rx_hostname)
udp_dstip2 auto
# udp source ip (same subnet as udp_dstip)
udp_srcip2 192.168.1.100

# receiver hostname
rx_hostname mpc1922:2014

# udp destination ip from rx_hostname
udp_dstip auto

# output file directory
fpath /tmp

# disable file writing
fwrite 0

# to enable 2nd interface for veto debugging
numinterfaces 2

# enable veto data streaming
veto 1



