# detector hostname
hostname localhost:1910

# udp destination ports
udp_dstport 50010

# udp source ip (same subnet as udp_dstip)
udp_srcip 192.168.1.100

# receiver hostname
rx_hostname mpc1922:2010

# udp destination ip from rx_hostname
udp_dstip auto

# output file directory
fpath /tmp

# disable file writing
fwrite 0


# default clocks
runclk 40
adcclk 20
dbitclk 40


# patterns
pattern /tmp/pattern.pat

# dacs
dac 6 800
dac 0 1300
dac 4 1428
dac 1 1000
dac 7 900
dac 3 680
dac 2 1400
dac 5 1200


adcinvert 4a342593

# analog samples
asamples 5000

# digital samples
dsamples 0

# adc phase
adcphase 30 deg

# adc pipeline
adcpipeline 14

# analog readout
romode analog

# frames
frames 1

# period
period 1ms


