# detector hostname
hostname localhost:1906

# udp destination ports
udp_dstport 50006
udp_dstport2 50007

# udp source ip (same subnet as udp_dstip)
udp_srcip 192.168.1.100
udp_srcip2 192.168.1.100

# receiver hostname
rx_hostname mpc1922:2006

# udp destination ip from rx_hostname
udp_dstip auto
udp_dstip2 auto

# output file directory
fpath /tmp

# disable file writing
fwrite 0

#imagetest 1
#frames 1

# enable two interfaces
numinterfaces 2

# select inner interface(effective only when numinterfaces is 1)
#selinterface 1
