# detector hostname
hostname localhost:1900+localhost:1902+

# udp destination ports
udp_dstport 50000
udp_dstport2 50001

# receiver hostname
rx_hostname mpc1922:2000+mpc1922:2001+

# udp destination ip from rx_hostname
udp_dstip auto

# output file directory
fpath /tmp

# disable file writing
fwrite 0

#imagetest 1

