detsizechan 2560 1

hostname bchip074+bchip075+
#hostname bchip092+bchip093+

settingsdir settingsdir/gotthard
angdir 1.000000
caldir settingsdir/gotthard

0:extsig:0 trigger_in_rising_edge
0:rx_tcpport 1954
0:rx_udpport 50001
0:vhighvoltage 0

#0:rx_zmqip pc8829
#0:rx_zmqport 30003
#0:zmqip pc8829
#0:zmqport  40003

1:extsig:0 trigger_in_rising_edge
1:rx_tcpport 1955
1:rx_udpport 50002
#1:detectorip 10.1.1.52
1:vhighvoltage 0

#1:rx_zmqip pc8829
#1:rx_zmqport 30004
#1:zmqip pc8829
#1:zmqport  40004


r_readfreq 1
rx_datastream 1

#rx_udpip 10.1.1.100
rx_hostname pc8498
rx_datastream 1
outdir /tmp/
angconv none
threaded 1
