hostname bchip065+bchip195+

0:rx_tcpport 1954
0:rx_udpport 50005
0:detectorip 10.1.2.185
0:rx_udpip 10.1.2.102

1:rx_tcpport 1955
1:rx_udpport 50006
1:detectorip 10.1.2.186
1:rx_udpip 10.1.2.102

rx_hostname pc1875

outdir /home/l_msdetect/dhanya/outdir

vhighvoltage 0

enablefwrite 0

timing auto
