detsizechan 2560 1

hostname ode-gotthard-m.ica.synchrotron-soleil.fr+ode-gotthard-s.ica.synchrotron-soleil.fr+

settingsdir /home/experiences/detecteurs/detecteurs/CCA/GotthardDetector-4.0.0/trunk/slsDetectorPackage/settingsdir/gotthard
angdir 1.000000
caldir /home/experiences/detecteurs/detecteurs/CCA/GotthardDetector-4.0.0/trunk/slsDetectorPackage/settingsdir/gotthard


0:rx_tcpport 1954
0:rx_udpport 50001
0:rx_udpip 192.168.51.1
0:detectorip 192.168.51.2
0:vhighvoltage 90

1:rx_tcpport 1955
1:rx_udpport 50002
1:rx_udpip 192.168.52.1
1:detectorip 192.168.52.2

0:extsig:0 trigger_in_rising_edge

rx_hostname dt-pctestbasler1.ica.synchrotron-soleil.fr
outdir /home/experiences/detecteurs/detecteurs/CCA/GotthardDetector-4.0.0/DeviceServers/files/
angconv none
threaded 1


